@tailwind base;
@tailwind components;
@tailwind utilities;

/* Glass morphism Effect */

.glassEffect {
  backdrop-filter: blur(6px) saturate(181%);
  -webkit-backdrop-filter: blur(6px) saturate(181%);
  background-color: rgba(228, 228, 228, 0.19);
  border: 1px solid rgba(209, 213, 219, 0.3);
  border-radius: 50px;
  background: linear-gradient(145deg, #cacaca67, #f0f0f082);
  box-shadow: 20px 20px 60px #bebebe8e, -20px -20px 60px #ffffff;
}
